# ENTER BOT TOKEN (Get your BOT_TOKEN by talking to @botfather)
BOT_TOKEN = "1549615594:AAHbzB3VUREeOIaxcSlhGXOjGH2UNI7R30s"
GDRIVE_FOLDER_ID = "1sQUspZQmYgFJrl-Ar6jojJZWkYEotIKQ"
TELEGRAPH_TOKEN = "0acfd19a48a740ce1778ad57b2d46e4ee117486abb8af6ed78ad462b7f70"
OWNER_ID = 1485920883,857877300
DOWNLOAD_DIR = "/app/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 5
AUTO_DELETE_MESSAGE_DURATION = -1
IS_TEAM_DRIVE = "True"
USER_SESSION_STRING = "AQAT9fdY0rsX55Idtmnsi_YMxCokb1v3p5NDvp8jAyUKVF-OSO3D2As5kV9R7gHsOzaFIqYmkcmUNRN7H1UEvV1hwiMkGqY1Hsra-1JDMJDbpo4fVNMJm_QdEJw-SDvrm9ISh6h1FE3RkSzJm3g9JyDcG1RbEquN4zSFGD6Hz1jimyeVmTtNs5cw03rDg2e5rICRAL71gsUPAGWz-v29Zkqul1V1dv8lYRfsL7kpPrlgPM2c-o7idfgeQRDuHld-qfch0bv9nFni2-_qbMz3Rw23ziuTZ778aJfGfbE9Kq5YQwyb0ZHbgNSTqwnEQr9A4oHcclUy61NbMba9djHSxSC4WJFacwA"
TELEGRAM_API = 2624913
TELEGRAM_HASH = "a204e6332a52ea40033b8215421bc81d"
USE_SERVICE_ACCOUNTS = ""
# Optional config
INDEX_URL = "https://data.choudharysaab.workers.dev/"
MEGA_API_KEY = ""
MEGA_EMAIL_ID = ""
MEGA_PASSWORD = ""
STOP_DUPLICATE_MIRROR = ""
BLOCK_MEGA_LINKS = ""
SHORTENER = ""
SHORTENER_API = ""
# Add more buttons (two buttons are already added of file link and index link, you can add extra buttons too, these are optional)
# If you don't know what are below entries, simply leave them, Don't fill anything in them.
BUTTON_THREE_NAME = "CHANNEL"
BUTTON_THREE_URL = "https://t.me/joinchat/SvmWATxeZ_dAZDBg"
BUTTON_FOUR_NAME = ""
BUTTON_FOUR_URL = ""
BUTTON_FIVE_NAME = ""
BUTTON_FIVE_URL = ""
